<div class="menu">
  <div class="buttons" >
    <button (click)="openDecks()" class="button">
      <img class="icon" src="assets/bag.png" alt="Mochila" />
      {{ viewDecks === true ? 'Guardar' : 'Ver Baralhos' }}
      <span></span>
    </button>
    <button *ngIf="screen === getScreen.Deck" (click)="addDeck()" class="button">
      <img class="icon" src="assets/phone.png" alt="Phone" />
      Criar Baralhos
      <span></span>
    </button>
  </div>
  <div class="decks" *ngIf="viewDecks">
    <ng-container *ngFor="let deck of decks">
      <pokemon-deck-card class="deck" (click)="selectDeck(deck.name)">{{ deck.name }}</pokemon-deck-card>
    </ng-container>
  </div>
</div>
