:host {
  width: 100px;
  height: 70px;
}

.deck {
  width: 100px;
  height: 70px;
  font-family: 'Ubuntu', "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
  text-align: center;
  position: relative;
}


.deck-item {
  cursor: pointer;
  position: absolute;
  border-radius: .3em; 
  border: .1em solid rgba(var(--dark-black), .15);
  box-shadow: 
    0 0 .3em rgba(var(--dark-black), .3), 
    inset 0 6em 6em rgba(var(--white), .1);
  
  transform-origin: 90% 92%;
  transition: background 0.3s ease-in-out;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: inline-block;
}

.deck-item:last-of-type:after {
 	content: "";
  position: absolute;
  left: 90%;
  top: 92%; 
  border-radius: 50%;
  width: 1.2em;
  height: 1.2em;
  background: var(--white);
  margin: -.6em 0 0 -.6em;
  box-shadow:
    inset 0 1px 1px var(--white),
    inset 0 -.3em .2em #dddcdb,
    0 0 .6em rgba(var(--dark-black), .2);
}

.deck-item:last-of-type:before {
 	content: "";
  position: absolute;
  right: .4em; 
  bottom: .9em;
  width: 1.1em;
  height: .15em;
  background: var(--silver);
  background: rgba(var(--dark-black), .1); 
  z-index: 2;
}

.deck-label {
  display: flex;
  justify-content: flex-start;
  text-align: left;
  color: var(--white);
  padding: 4px;
  text-overflow: ellipsis;
}

$list: 
  1   var(--blue), 
  2     var(--black), 
  3    var(--yellow), 
  4   var(--pink), 
  5  var(--blue), 
  6 var(--black);

$deg: -20;
@each $item in $list {
  .deck-item-#{nth($item, 1)} {
    background:  nth($item, 2);
    transform: rotate(#{$deg}deg);
  }
  $deg: $deg + 10;
}

.deck-item:hover {
  background: var(--red);
}
