<div class="container">
  <ul class="deck">
    <li class="deck-item deck-item-1">
      <span class="deck-label"></span>
    </li>
    <li class="deck-item deck-item-2">
      <span class="deck-label"></span>
    </li>
    <li class="deck-item deck-item-3">
      <span class="deck-label"></span>
    </li>
    <li class="deck-item deck-item-4">
      <span class="deck-label"></span>
    </li>
    <li class="deck-item deck-item-5">
      <span class="deck-label"></span>
    </li>
    <li class="deck-item deck-item-6">
      <span class="deck-label">
        <ng-content></ng-content>
      </span>
    </li>
  </ul>
</div>